In [1]:
%matplotlib inline
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

In [2]:
df = pd.DataFrame(np.random.randn(5,5),index = range(1,6),columns = list('abcde'))
df

          a         b         c         d         e
1  0.590181 -1.716280 -1.799225 -0.668770 -0.734652
2  1.654597  0.327370  0.905437 -0.913484 -2.453784
3 -0.394918  0.910526 -0.215143 -1.066429 -1.070221
4  0.084922 -0.710045 -1.080137 -1.173029  0.029889
5 -0.747112 -0.091007  0.168060  1.751564  0.062101

## 如果沒用loc找東西
找到了以後不能修改

In [3]:
df[df.b<0]

          a         b         c         d         e
1  0.590181 -1.716280 -1.799225 -0.668770 -0.734652
4  0.084922 -0.710045 -1.080137 -1.173029  0.029889
5 -0.747112 -0.091007  0.168060  1.751564  0.062101

In [4]:
df[df.b<0,"c"]=0

TypeError: 'Series' objects are mutable, thus they cannot be hashed

## 改用loc即可
loc可編修、查找資料

In [5]:
df.loc[df.b>0]

          a         b         c         d         e
2  1.654597  0.327370  0.905437 -0.913484 -2.453784
3 -0.394918  0.910526 -0.215143 -1.066429 -1.070221

In [6]:
df.loc[2;4,"b":"c"]

SyntaxError: invalid syntax (<ipython-input-6-b7db0facf9d2>, line 1)

In [7]:
df.loc[2,"b"]

0.32737032831132

In [8]:
df.loc[2,"b"] = 1
df

          a         b         c         d         e
1  0.590181 -1.716280 -1.799225 -0.668770 -0.734652
2  1.654597  1.000000  0.905437 -0.913484 -2.453784
3 -0.394918  0.910526 -0.215143 -1.066429 -1.070221
4  0.084922 -0.710045 -1.080137 -1.173029  0.029889
5 -0.747112 -0.091007  0.168060  1.751564  0.062101

In [9]:
df.loc[df.b>0]

          a         b         c         d         e
2  1.654597  1.000000  0.905437 -0.913484 -2.453784
3 -0.394918  0.910526 -0.215143 -1.066429 -1.070221

In [10]:
df.loc[df.b>0,'c']=0
df

          a         b         c         d         e
1  0.590181 -1.716280 -1.799225 -0.668770 -0.734652
2  1.654597  1.000000  0.000000 -0.913484 -2.453784
3 -0.394918  0.910526  0.000000 -1.066429 -1.070221
4  0.084922 -0.710045 -1.080137 -1.173029  0.029889
5 -0.747112 -0.091007  0.168060  1.751564  0.062101

In [14]:
df.loc[df.1>0]

SyntaxError: invalid syntax (<ipython-input-14-ed9c9f125e4f>, line 1)

為甚麼不能用 df.loc[df.1>0]